.Item {
    width: 100%;
    display: flex;
}

.ItemImage {
    width: 25%;
}

.ItemImage img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 200px;
}

.ItemCol {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
    width: 75%;
    font-size: 20px;
}

.ItemCol a {
    text-decoration: none;
    color: black;
}

.ItemCol div {
    padding: 20px;
}

.ItemCol div img {
    padding-left: 10px;
}

@media (max-width: 499px) {

    .Item {
        display: block;
    }

    .ItemCol {
        width: 100%;
    }

    .ItemImage {
        width: 100%;
    }
}