.Item {
    width: 100%;
    height: 220px;
    display: flex;
}

.Item img {
    width: 125px;
    height: 125px;
    padding: 35px 35px;
}

.ItemTitle {
    width: 100%;
    display: inline-block;
}

.ItemPrice {
    width: 100%;
    display: inline-block;
}

.ItemShipping {
    width: 100%;
    display: inline-block;
}