.ItemList {
    width: (100% - 50px);
    max-width: 984px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    background: white;
}

.ItemList ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: inline-block;
}

.ItemList ul li {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ItemList ul li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}