.Logo {
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    margin-right: 30px;
}

.Logo img {
    height: 100%;
}

@media (max-width: 499px) {
    .Logo {
        display: none;
    }
}